In [1]:
# special IPython command to prepare the notebook for matplotlib
%matplotlib inline 

import requests 
import numpy as np
import pandas as pd # pandas
import matplotlib.pyplot as plt # module for plotting 
import datetime as dt # module for manipulating dates and times
import numpy.linalg as lin # module for performing linear algebra operations
import collections
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv("AllData.csv")

In [12]:
data

,Unnamed: 0,Date,1000201,1000202,1000500,1000600,1000700,1000800,1000900,1001001,...,5027706,5027900,5029102,5029103,5029104,5030301,5030302,5031901,5031902,5032300
0,0,2007-12-31,1.0,4.0,0.0,1.0,4.0,3.0,3.0,1.0,...,2.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1,2008-01-07,1.0,0.0,0.0,0.0,4.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0
2,2,2008-01-14,0.0,1.0,0.0,0.0,2.0,2.0,2.0,0.0,...,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,2.0,1.0
3,3,2008-01-21,1.0,0.0,0.0,3.0,3.0,2.0,1.0,0.0,...,2.0,0.0,2.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
4,4,2008-01-28,0.0,0.0,0.0,1.0,1.0,0.0,2.0,0.0,...,0.0,0.0,1.0,1.0,0.0,1.0,0.0,2.0,2.0,1.0
5,5,2008-02-04,0.0,1.0,0.0,0.0,4.0,2.0,2.0,1.0,...,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0
6,6,2008-02-11,0.0,0.0,0.0,1.0,4.0,3.0,2.0,0.0,...,0.0,2.0,1.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0
7,7,2008-02-18,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,1.0,0.0,2.0,1.0,3.0,0.0,0.0,2.0,0.0,0.0
8,8,2008-02-25,0.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,...,2.0,0.0,3.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
9,9,2008-03-03,0.0,0.0,0.0,1.0,3.0,1.0,1.0,0.0,...,1.0,0.0,2.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0
10,10,2008-03-10,0.0,0.0,0.0,2.0,1.0,4.0,0.0,0.0,...,2.0,0.0,0.0,1.0,1.0,1.0,3.0,0.0,0.0,1.0
11,11,2008-03-17,0.0,1.0,0.0,2.0,1.0,2.0,2.0,0.0,...,2.0,0.0,1.0,4.0,0.0,0.0,1.0,0.0,0.0,1.0
12,12,2008-03-24,0.0,0.0,0.0,0.0,3.0,2.0,1.0,0.0,...,2.0,0.0,0.0,0.0,2.0,0.0,2.0,0.0,1.0,0.0
13,13,2008-03-31,0.0,2.0,0.0,4.0,1.0,0.0,1.0,0.0,...,1.0,1.0,2.0,1.0,3.0,0.0,0.0,0.0,1.0,1.0
14,14,2008-04-07,0.0,0.0,0.0,2.0,2.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,1.0,2.0,1.0,0.0
15,15,2008-04-14,0.0,0.0,0.0,0.0,3.0,0.0,2.0,0.0,...,1.0,1.0,0.0,1.0,1.0,0.0,4.0,0.0,0.0,1.0
16,16,2008-04-21,0.0,1.0,0.0,3.0,2.0,5.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
17,17,2008-04-28,1.0,1.0,0.0,2.0,6.0,5.0,1.0,0.0,...,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0
18,18,2008-05-05,0.0,1.0,0.0,1.0,2.0,1.0,0.0,0.0,...,0.0,1.0,1.0,2.0,3.0,1.0,0.0,0.0,1.0,2.0
19,19,2008-05-12,1.0,0.0,0.0,1.0,3.0,2.0,3.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,2.0
20,20,2008-05-19,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,...,2.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,2.0
21,21,2008-05-26,2.0,1.0,0.0,2.0,3.0,1.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0
22,22,2008-06-02,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,...,2.0,0.0,0.0,1.0,1.0,0.0,2.0,2.0,0.0,2.0
23,23,2008-06-09,0.0,2.0,0.0,2.0,3.0,3.0,1.0,0.0,...,0.0,0.0,0.0,0.0,2.0,2.0,0.0,0.0,1.0,0.0
24,24,2008-06-16,1.0,0.0,0.0,2.0,4.0,3.0,2.0,0.0,...,0.0,0.0,0.0,4.0,1.0,0.0,1.0,1.0,0.0,1.0
25,25,2008-06-23,0.0,3.0,0.0,1.0,4.0,2.0,0.0,2.0,...,0.0,0.0,1.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0
26,26,2008-06-30,0.0,1.0,0.0,4.0,3.0,0.0,3.0,1.0,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
27,27,2008-07-07,0.0,0.0,0.0,5.0,2.0,3.0,2.0,0.0,...,0.0,0.0,1.0,1.0,0.0,1.0,2.0,0.0,3.0,1.0
28,28,2008-07-14,1.0,1.0,0.0,4.0,2.0,3.0,1.0,1.0,...,3.0,0.0,2.0,2.0,1.0,0.0,0.0,1.0,1.0,0.0
29,29,2008-07-21,1.0,2.0,0.0,2.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
492,492,2017-06-05,1.0,0.0,0.0,5.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
493,493,2017-06-12,0.0,0.0,0.0,1.0,2.0,1.0,2.0,0.0,...,0.0,0.0,0.0,1.0,2.0,0.0,5.0,0.0,0.0,0.0
494,494,2017-06-19,0.0,0.0,0.0,2.0,4.0,2.0,3.0,0.0,...,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,1.0,0.0
495,495,2017-06-26,0.0,0.0,0.0,1.0,2.0,2.0,2.0,1.0,...,1.0,2.0,0.0,0.0,0.0,1.0,6.0,0.0,1.0,1.0
496,496,2017-07-03,0.0,1.0,0.0,0.0,0.0,2.0,4.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,3.0,1.0
497,497,2017-07-10,2.0,0.0,0.0,1.0,3.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,3.0,2.0
498,498,2017-07-17,0.0,2.0,0.0,3.0,1.0,3.0,0.0,0.0,...,0.0,0.0,1.0,2.0,0.0,0.0,1.0,4.0,5.0,0.0
499,499,2017-07-24,0.0,1.0,0.0,3.0,0.0,1.0,0.0,1.0,...,0.0,1.0,2.0,1.0,0.0,0.0,3.0,1.0,0.0,1.0
500,500,2017-07-31,0.0,0.0,0.0,5.0,2.0,2.0,1.0,1.0,...,1.0,0.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,2.0
501,501,2017-08-07,1.0,1.0,0.0,2.0,1.0,1.0,2.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
502,502,2017-08-14,2.0,2.0,0.0,5.0,3.0,3.0,0.0,0.0,...,2.0,0.0,0.0,2.0,0.0,0.0,3.0,0.0,0.0,0.0
503,503,2017-08-21,0.0,0.0,0.0,3.0,2.0,0.0,1.0,0.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
504,504,2017-08-28,0.0,0.0,0.0,2.0,5.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0
505,505,2017-09-04,0.0,2.0,0.0,1.0,2.0,1.0,3.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
506,506,2017-09-11,0.0,2.0,0.0,2.0,1.0,2.0,2.0,0.0,...,1.0,1.0,2.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0
507,507,2017-09-18,0.0,0.0,0.0,3.0,0.0,3.0,4.0,0.0,...,0.0,0.0,3.0,0.0,0.0,0.0,2.0,3.0,0.0,0.0
508,508,2017-09-25,1.0,0.0,0.0,1.0,1.0,0.0,3.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,1.0,3.0,1.0,1.0
509,509,2017-10-02,0.0,1.0,0.0,3.0,1.0,2.0,2.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,3.0,0.0,1.0
510,510,2017-10-09,2.0,1.0,0.0,1.0,1.0,2.0,2.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
511,511,2017-10-16,2.0,1.0,0.0,1.0,3.0,5.0,2.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,1.0,1.0
512,512,2017-10-23,1.0,0.0,0.0,2.0,1.0,1.0,1.0,0.0,...,1.0,0.0,2.0,0.0,1.0,0.0,2.0,1.0,1.0,1.0
513,513,2017-10-30,1.0,0.0,0.0,4.0,0.0,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,6.0,1.0,1.0,0.0
514,514,2017-11-06,0.0,1.0,0.0,2.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,0.0,0.0,1.0,0.0,0.0,1.0
515,515,2017-11-13,0.0,3.0,0.0,3.0,1.0,1.0,4.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,2.0,1.0,0.0
516,516,2017-11-20,1.0,0.0,0.0,5.0,1.0,4.0,3.0,0.0,...,2.0,0.0,2.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0
517,517,2017-11-27,0.0,1.0,0.0,3.0,0.0,2.0,3.0,0.0,...,0.0,0.0,2.0,0.0,0.0,0.0,1.0,1.0,0.0,2.0
518,518,2017-12-04,0.0,0.0,0.0,2.0,2.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,2.0,3.0,1.0,2.0
519,519,2017-12-11,1.0,1.0,0.0,1.0,3.0,2.0,3.0,0.0,...,1.0,0.0,2.0,0.0,0.0,1.0,2.0,2.0,1.0,2.0
520,520,2017-12-18,1.0,0.0,0.0,2.0,2.0,2.0,2.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,3.0,1.0,2.0,1.0
521,521,2017-12-25,0.0,1.0,0.0,3.0,0.0,0.0,2.0,0.0,...,1.0,0.0,2.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0

In [11]:
data.columns

Index([u'Unnamed: 0', u'Date', u'1000201', u'1000202', u'1000500', u'1000600',
       u'1000700', u'1000800', u'1000900', u'1001001',
       ...
       u'5027706', u'5027900', u'5029102', u'5029103', u'5029104', u'5030301',
       u'5030302', u'5031901', u'5031902', u'5032300'],
      dtype='object', length=2162)

In [34]:
df = pd.DataFrame(data)

In [21]:
pivoted = df.pivot(index='Unnamed: 0',columns='Date').reset_index()

In [35]:
df = df.set_index('Date').transpose()

In [38]:
df.head()

Date,2007-12-31,2008-01-07,2008-01-14,2008-01-21,2008-01-28,2008-02-04,2008-02-11,2008-02-18,2008-02-25,2008-03-03,...,2017-10-23,2017-10-30,2017-11-06,2017-11-13,2017-11-20,2017-11-27,2017-12-04,2017-12-11,2017-12-18,2017-12-25
Unnamed: 0,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,512.0,513.0,514.0,515.0,516.0,517.0,518.0,519.0,520.0,521.0
1000201,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
1000202,4.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,...,0.0,0.0,1.0,3.0,0.0,1.0,0.0,1.0,0.0,1.0
1000500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1000600,1.0,0.0,0.0,3.0,1.0,0.0,1.0,0.0,1.0,1.0,...,2.0,4.0,2.0,3.0,5.0,3.0,2.0,1.0,2.0,3.0

In [39]:
facilities = pd.read_csv('facilities_20190110.csv')
facilities.head()

,the_geom,uid_merged,uid,idold,idagency,facname,addressnum,streetname,address,city,...,overlevel,overagency,overabbrev,agencyjuris,datasource,dataname,dataurl,datadate,pgtable,facdomain
0,0101000020E6100000BB6246787B7B52C03BE466B8015B...,NaN,151722,NaN,NaN,Bkn01g,NaN,NaN,Scholes Street,Brooklyn,...,NYCDSNY: City,NYC Department of Sanitation,NYCDSNY,NaN,NYCDSNY,NYCDSNY: DSNY_select_facs_07262916,NaN,NYCDSNY: 2016-07-26,dsny_facilities_mtsgaragemaintenance,Core Infrastructure and Transportation
1,0101000020E61000007F4C6BD3D87C52C01FBAA0BE655A...,NaN,181303,NaN,NaN,"Eng 216,Lad 108,Bat. 35",445,Broadway,445 Broadway,Brooklyn,...,NYCFDNY: City,NYC Fire Department,NYCFDNY,NYCFDNY,NYCDCAS,NYCDCAS: City Owned and Leased Properties,NYCDCAS: http://www1.nyc.gov/site/planning/dat...,NYCDCAS: 2017-06-01,dcas_facilities_colp,"Public Safety, Emergency Services, and Adminis..."
2,0101000020E610000024ED461FF37C52C08236397CD25B...,NaN,168047,NaN,NYCDOT: 66,North 10th & Union Ave Plaza,NaN,NaN,North 10th,Brooklyn,...,NYCDOT: City,NYC Department of Transportation,NYCDOT,NaN,NYCDOT,NYCDOT: Plaza Program,NaN,NYCDOT: 2017-02-24,dot_facilities_pedplazas,"Parks, Gardens, and Historical Sites"
3,0101000020E6100000C91F0C3CF77C52C0D3156C239E5E...,NaN,147855,NaN,NaN,Pulaski Bridge,NaN,NaN,NaN,Brooklyn,...,NYCDOT: City,NYC Department of Transportation,NYCDOT,NaN,NYCDOT,NYCDOT: Facilities Data - Bridge Houses,NaN,NYCDOT: 2017-02-23,dot_facilities_bridgehouses,Core Infrastructure and Transportation
4,0101000020E6100000E2E995B20C7F52C0B41EBE4C1461...,NaN,182240,NaN,NYCDCP: M050100,Bertelsmann,1548,Broadway,1548 Broadway,New York,...,"NYCDCP,NYCDOB: City",NYC Department of Buildings;NYC Department of ...,NYCDCP;NYCDOB,NaN,NYCDCP,NYCDCP: Privately Owned Public Spaces,NaN,NYCDCP: 2017-10-23,dcp_pops,"Parks, Gardens, and Historical Sites"

In [40]:
import geopandas as gp
from shapely.geometry import Point

In [41]:
census_tr = gp.read_file("nyct2010_19b/nyct2010.shp")
facities = gp.read_file("facilities_shp_201901/facilities_20190110.shp")

In [42]:
census_tr.to_crs({'init' :'epsg:4326'}, inplace=True)
facities.to_crs({'init' :'epsg:4326'}, inplace=True)

In [43]:
facilities_tr = gp.sjoin(facities,census_tr, how='inner', op='within')

In [44]:
facilities_tr.head()

,uid_merged,uid,idold,idagency,facname,addressnum,streetname,address,city,boro,...,BoroCode,BoroName,CT2010,BoroCT2010,CDEligibil,NTACode,NTAName,PUMA,Shape_Leng,Shape_Area
0,None,151722,0,None,Bkn01g,None,None,Scholes Street,Brooklyn,Brooklyn,...,3,Brooklyn,044900,3044900,I,BK90,East Williamsburg,4001,33958.11156,2.296257e+07
1002,None,133881,0,NYSED: 331400100005,Cooper Houses Housing Authority,40,Debevoise Avenue,40 Debevoise Avenue,Brooklyn,Brooklyn,...,3,Brooklyn,044900,3044900,I,BK90,East Williamsburg,4001,33958.11156,2.296257e+07
1145,None,170797,0,None,Brooklyn North Salt Shed,175,Varick Avenue,175 Varick Avenue,Brooklyn,Brooklyn,...,3,Brooklyn,044900,3044900,I,BK90,East Williamsburg,4001,33958.11156,2.296257e+07
1233,None,160515,0,NYCDCA: 1157051-DCA,Brooklyn Processing Inc.,24,Thomas Street,24 Thomas Street,Brooklyn,Brooklyn,...,3,Brooklyn,044900,3044900,I,BK90,East Williamsburg,4001,33958.11156,2.296257e+07
1894,None,47410,0,NYCDCA: 2029037-DCA,Empire Metal Trading LLC,1301,Grand Street,1301 Grand Street,Brooklyn,Brooklyn,...,3,Brooklyn,044900,3044900,I,BK90,East Williamsburg,4001,33958.11156,2.296257e+07

In [45]:
facilities_tr.facgroup.unique()

array([u'Solid Waste', u'Child Services and Welfare',
       u'City Agency Parking, Maintenance, and Storage',
       u'Cultural Institutions', u'Transportation',
       u'Day Care and Pre-Kindergarten', u'Youth Services',
       u'Parks and Plazas', u'Emergency Services', u'Human Services',
       u'Other Property', u'Schools (K-12)', u'Camps', u'Public Safety',
       u'Historical Sites', u'Vocational and Proprietary Schools',
       u'Offices, Training, and Testing', u'Higher Education',
       u'Health Care', u'Water and Wastewater',
       u'Justice and Corrections', u'Material Supplies and Markets',
       u'Libraries', u'Telecommunications'], dtype=object)

In [46]:
fac_tr = facilities_tr.groupby(['BoroCT2010','facgroup']).agg({'uid':'count'}).reset_index()

In [47]:
facgrouplist = ['Transportation', 'Day Care and Pre-Kindergarten','Parks and Plazas','Schools (K-12)','Public Safety',
               'Higher Education','Health Care']
fac_tr = fac_tr[fac_tr.facgroup.isin(facgrouplist)]

In [48]:
fac_tr_pivot = fac_tr.pivot(index='BoroCT2010', columns='facgroup', values='uid').reset_index()
fac_tr_pivot.columns.name=None

In [49]:
fac_tr_pivot.fillna(0, inplace=True)

In [50]:
fac_tr_pivot.head()

,BoroCT2010,Day Care and Pre-Kindergarten,Health Care,Higher Education,Parks and Plazas,Public Safety,Schools (K-12),Transportation
0,1000201,1.0,5.0,0.0,3.0,0.0,5.0,0.0
1,1000202,7.0,5.0,0.0,9.0,0.0,3.0,0.0
2,1000500,0.0,0.0,0.0,9.0,0.0,2.0,2.0
3,1000600,10.0,11.0,0.0,6.0,0.0,2.0,0.0
4,1000700,3.0,0.0,0.0,16.0,0.0,2.0,9.0

In [51]:
fac_tr_pivot['Schools'] = fac_tr_pivot['Day Care and Pre-Kindergarten']+ fac_tr_pivot['Higher Education'] + fac_tr_pivot['Schools (K-12)']

In [52]:
fac_tr_pivot.drop(columns=['Day Care and Pre-Kindergarten', 'Higher Education','Schools (K-12)'], inplace=True)

In [53]:
fac_tr_pivot.head()

,BoroCT2010,Health Care,Parks and Plazas,Public Safety,Transportation,Schools
0,1000201,5.0,3.0,0.0,0.0,6.0
1,1000202,5.0,9.0,0.0,0.0,10.0
2,1000500,0.0,9.0,0.0,2.0,2.0
3,1000600,11.0,6.0,0.0,0.0,12.0
4,1000700,0.0,16.0,0.0,9.0,5.0

In [57]:
nyc_data = pd.merge(fac_tr_pivot,df, how='inner', left_on='BoroCT2010', right_index=True)

In [60]:
nyc_data.head()

,BoroCT2010,Health Care,Parks and Plazas,Public Safety,Transportation,Schools,2007-12-31,2008-01-07,2008-01-14,2008-01-21,...,2017-10-23,2017-10-30,2017-11-06,2017-11-13,2017-11-20,2017-11-27,2017-12-04,2017-12-11,2017-12-18,2017-12-25
0,1000201,5.0,3.0,0.0,0.0,6.0,1.0,1.0,0.0,1.0,...,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
1,1000202,5.0,9.0,0.0,0.0,10.0,4.0,0.0,1.0,0.0,...,0.0,0.0,1.0,3.0,0.0,1.0,0.0,1.0,0.0,1.0
2,1000500,0.0,9.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1000600,11.0,6.0,0.0,0.0,12.0,1.0,0.0,0.0,3.0,...,2.0,4.0,2.0,3.0,5.0,3.0,2.0,1.0,2.0,3.0
4,1000700,0.0,16.0,0.0,9.0,5.0,4.0,4.0,2.0,3.0,...,1.0,0.0,2.0,1.0,1.0,0.0,2.0,3.0,2.0,0.0

In [66]:
y = nyc_data.iloc[:,476:528]

In [68]:
X = nyc_data.iloc[:,1:476]

In [69]:
from sklearn.metrics import confusion_matrix
X_train,X_test,y_train,y_test=train_test_split(X, y, test_size=0.4, random_state=999)

In [70]:
from sklearn.ensemble import RandomForestRegressor
class MultiOutputRF(object):
    def __init__(self, *args, **kwargs):
        self.args = args
        self.kwargs = kwargs
        
    def fit(self, X, Y):
        X, Y = map(np.atleast_2d, (X, Y))
        assert X.shape[0] == Y.shape[0]
        Ny = Y.shape[1]
        
        self.clfs = []
        for i in range(Ny):
            clf = RandomForestRegressor(*self.args, **self.kwargs)
            Xi = np.hstack([X, Y[:, :i]])
            yi = Y[:, i]
            self.clfs.append(clf.fit(Xi, yi))
            
        return self
        
    def predict(self, X):
        Y = np.empty([X.shape[0], len(self.clfs)])
        for i, clf in enumerate(self.clfs):
            Y[:, i] = clf.predict(np.hstack([X, Y[:, :i]]))
        return Y

In [71]:
clf2 = MultiOutputRF(100).fit(X_train, y_train)

In [72]:
y_preds = clf2.predict(X)

In [74]:
y_preds.shape

(1961, 52)

In [93]:
np.sqrt(np.mean((np.sum(y, axis=1) - np.sum(y_preds, axis =1))**2))

10.46554507210674

In [80]:
dataframe = pd.DataFrame.from_records(y_preds)

In [81]:
ct = nyc_data[nyc_data.columns[:1]]

In [85]:
df_y = pd.merge(ct,y,how = 'inner',left_index = True, right_index = True)

In [87]:
df_ypred = pd.merge(ct,dataframe,how = 'inner',left_index = True, right_index = True)

In [92]:
df_y.to_csv('df_y.csv', encoding='utf-8', index=False)
df_ypred.to_csv('df_ypred.csv', encoding='utf-8', index=False)